# 老龄化分析
## 思路
从空间, 年龄,城乡, 人口结构等多个角度分析老龄化现状

## 数据
- 空间
    - 城市发展
        -  经济
        - 工业化
        - 医疗
        - 教育
    - 人口流动
    - 城乡分布
- 非空间
    - 年龄
    - 人口结构
        - 性别
        - 劳动力(抚养比)
   

## 绘图
- 空间
    - 相关图
- 年龄
    - 金字塔图
    - 突出高龄化
- 城乡
    - 饼状图

In [1]:
%pylab
%matplotlib inline 
import pandas as pd

Using matplotlib backend: TkAgg
Populating the interactive namespace from numpy and matplotlib

In [46]:
df = pd.read_excel('./data/2019/1-4章/C0205.xls')
df.head(10)

,2-5 人口年龄结构和抚养比,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,单位：万人,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,总人口(年末),按年龄组分,NaN,NaN,NaN,NaN,NaN,总抚养比,少儿抚养比,老年抚养比
3,年份,NaN,0-14岁,NaN,15-64岁,NaN,65岁及以上,NaN,(%),(%),(%)
4,NaN,NaN,人口数,比重(%),人口数,比重(%),人口数,比重(%),NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1982,101654,34145.6,33.59,62517.2,61.5,4991.21,4.91,62.6016,54.6179,7.98374
7,1987,109300,31347.2,28.68,71985,65.86,5967.78,5.4,51.8372,43.5469,8.29031
8,1990,114333,31658.8,27.69,76305.8,66.74,6368.35,5.57,49.8352,41.4894,8.34582
9,1991,115823,32094.6,27.71,76790.6,66.3,6937.8,5.99,50.8296,41.7949,9.03469

In [47]:
df.columns

Index(['2-5  人口年龄结构和抚养比', 'Unnamed: 1', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4', 'Unnamed: 5', 'Unnamed: 6', 'Unnamed: 7', 'Unnamed: 8',
       'Unnamed: 9', 'Unnamed: 10'],
      dtype='object')

In [48]:
df.iloc[3].values

array(['年份', nan, '0-14岁', nan, '15-64岁', nan, '65岁及以上', nan, '(%)',
       '(%)', '(%)'], dtype=object)

In [49]:
df.iloc[4].values

array([nan, nan, '人口数', '比重(%)', '人口数', '比重(%)', '人口数', '比重(%)', nan, nan,
       nan], dtype=object)

In [51]:
df = df.dropna().reset_index().drop('index', axis=1)
df = df.iloc[:, [0, 3, 5, 7]]
df.head()

  2-5  人口年龄结构和抚养比 Unnamed: 3 Unnamed: 5 Unnamed: 7
0            1982      33.59       61.5       4.91
1            1987      28.68      65.86        5.4
2            1990      27.69      66.74       5.57
3            1991      27.71       66.3       5.99
4            1992       27.6      66.24       6.16

In [52]:

df.columns = ['年份', '0-14岁比重', '15-64岁比重', '65岁及以上比重']
# df = df.iloc[1:, :]
df.head()

     年份 0-14岁比重 15-64岁比重 65岁及以上比重
0  1982   33.59     61.5     4.91
1  1987   28.68    65.86      5.4
2  1990   27.69    66.74     5.57
3  1991   27.71     66.3     5.99
4  1992    27.6    66.24     6.16

In [53]:
df.to_csv('./1982-2018年龄结构.csv', index=False)

In [30]:
GDP_T = df[['年  份', '总    值']]
GDP_T.columns = ['年份', '总值']
GDP_T.to_csv('./data/1978-2018生产总值.csv', index=False)

In [36]:
df.tail()

,2-5 人口年龄结构和抚养比,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10
26,2014,136782,22558,16.5,100469,73.4,13755,10.1,36.2,22.4527,13.6908
27,2015,137462,22715,16.5246,100361,73.01,14386,10.4654,36.9675,22.6333,14.3343
28,2016,138271,23008,16.7,100260,72.5,15003,10.8,37.9,22.9,15
29,2017,139008,23348,16.8,99829,71.8,15831,11.4,39.2461,23.388,15.8581
30,2018,139538,23523,16.8578,99357,71.2043,16658,11.9,40.441,23.6752,16.7658

In [12]:
df.to_csv('./data/2018年龄段性别比例.csv', index=False)